[user]
	email = hendrik.s.debruin@gmail.com
	name = Hendrik de Bruin
[core]
	excludesfile = ~/.gitignore_global
[alias]
	gr = log --oneline --graph --decorate
	grs = log --oneline --graph --decorate --branches
	grr = log --oneline --graph --decorate --remotes
	grsr = log --oneline --graph --decorate --branches --remotes
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[pull]
	rebase = true
[fetch]
	prune = true
