[user]
	email = hendrik.s.debruin@gmail.com
	name = Hendrik de Bruin
[core]
	excludesfile = ~/.gitignore_global
[alias]
	gr   = log --oneline --graph --decorate
	grs  = log --oneline --graph --decorate --branches
	grr  = log --oneline --graph --decorate --remotes
	grsr = log --oneline --graph --decorate --branches --remotes
	d    = difftool
	s    = status
	pl   = pull
	f    = fetch
	r    = rebase
	c    = commit
	m    = merge
	mt   = mergetool
	p    = push
	sub  = submodule update --init --recursive
	co   = checkout
	cob  = checkout -b
	b    = branch
	wip  = commit -m "WIP commit"
	eod  = commit -m "EOD commit"
	a    = add
	undo = reset HEAD~1 --mixed
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	conflictstyle = diff3
	tool = vimdiff
	prompt = false
[pull]
	rebase = true
[fetch]
	prune = true
